*{
    margin: 0;
    padding: 0;
}
img{
    border:0;
}
ol, ul ,li{list-style: none;}
.zhzj{
    width: 1000px;
    height: 1000px;
    margin:auto;
    margin-top: 10px;
}
.zhzj-zt{
    width:1000px;
    height:50px;
}
.zhzj-zt>p{
    font-size: 26px;
    margin-left: 360px;
    line-height: 46px;
}
.zhzj-zt-x{
      width:1000px;
      height:20px;
      margin-top: 20px;
}
.zhzj-zt-x>p{
     font-size:18px;
}
.zjdt{
    width: 700px;
    height: 80px;
    margin-top: 30px;
    margin-left: 148px;
}
.zjditu{
    width:700px;
    height:700px;
    margin:auto;
}
.zjditu img{
    width:700px;
    height:700px;
    margin:auto;
    margin-top: 40px;
}
.ico{
  width:13px;
  height:43px;
  margin-left: 20px;
  margin-top: -46px;
  background:url(../img/ico_left.gif) no-repeat;
}
.ico-ringht{
    width:13px;
    height:43px;
    margin-left: 480px;
    background:url(../img/ico_right.gif) no-repeat;
}
.tu-1{
    width: 81px;
    height: 60px;
    background-image: url(../img/ttu.jpg);
    background-size: cover;
}
.tu-1{
    width: 81px;
    height: 60px;
    background-image:url(../img/xiaotu_03.png);
    background-size: cover;
}
.mian-img{
    width:530px;
    height:85px;
    margin: 20px auto;
}
.mian-img ul li{
    width:84px;
    height:71px;
    float: left;
    margin-left:10px;
    background:url(../img/product_show.gif);
}
.mian-img img{
    margin-top:12px;
    margin-left:10px;
    float: left;
}
#mian-img-1{
    width:78px;
    height:58px;
    margin-top: 3px;
    margin-left:3px;
    overflow: hidden;
    position: relative;
    background:url(../img/product_show4.jpg);
    background-size:100% 100%;
}
#mian-img-1 div{
    position:absolute;
    width:35px;
    height:15px;
    font-size:14px;
    text-align:center;
    bottom: 0;
    background:#000;
    color:#fff;
}
#mian-img-2{
    width:78px;
    height:58px;
    margin-top: 3px;
    margin-left:3px;
    overflow: hidden;
    position: relative;
    background:url(../img/product_show5.jpg);
    background-size:100% 100%;
}
#mian-img-2 div{
    position:absolute;
    width:35px;
    height:15px;
    font-size:14px;
    text-align:center;
    bottom: 0;
    background:#000;
    color:#fff;
}
.mian-img ul li:hover{
    background:url(../img/product_show1.gif);
}
#mian-img-lo{
    width:600px;
    height:600px;
    margin: 20px auto;
    background:url(../img/product_show4.jpg);
}
